<div fxLayout="row" fxLayoutAlign="center center" class="h-100">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit(loginForm.value)"
    fxFlex="80"
    fxFlex.gt-sm="30"
    fxFlex.sm="60"
  >
    <mat-card class="p-0 mat-elevation-z24 box">
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        class="bg-primary box-header"
      >

        <img
          src="assets/images/company/logo.png"
          style="height: 100px; width: auto; padding: 5px 10px 5px 10px; background: white;"
          alt="smartfactoryworx"
          srcset=""
        />
        <!-- <button
          mat-fab
          color="accent"
          class="mat-elevation-z12"
          (click)="onSubmit(loginForm.value)"
        >
          <mat-icon>exit_to_app</mat-icon>
        </button>
        <a mat-button routerLink="/register">Don't have an account? Sign up now!</a> -->
      </div>
      <mat-card-content
        fxLayout="column"
        fxLayoutAlign="end center"
        class="box-content"
      >
        <mat-card
          fxLayout="column"
          fxLayoutAlign="center center"
          class="mat-elevation-z12 box-content-inner"
        >
          <span class="box-content-header">member login</span>
          <mat-form-field class="w-100">
            <input matInput placeholder="Email" formControlName="email" />
            <mat-error *ngIf="loginForm.controls.email.errors?.required"
              >Email is required</mat-error
            >
            <mat-error *ngIf="loginForm.controls.email.hasError('invalidEmail')"
              >Invalid email address</mat-error
            >
          </mat-form-field>
          <mat-form-field class="w-100">
            <!-- <input matInput placeholder="Password" type="password" formControlName="password"> -->
            <input minlength=6 matInput formControlName="password" required [type]="passwordHide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="passwordHide = !passwordHide">
              {{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="loginForm.controls.password.errors?.required">Password is required</mat-error>
            <mat-error *ngIf="loginForm.controls.password.hasError('minlength')">Password isn't long enough,
              minimum of 6 characters</mat-error>
          </mat-form-field>
        </mat-card>
        <button
          mat-raised-button
          color="primary"
          class="mat-elevation-z12 box-button"
          type="submit"
        >
          SIGN IN
        </button>
        <a [routerLink]="['/auth/reset-request']" routerLinkActive="router-link-active" title="Forgot Password">Forgot Password</a>
      </mat-card-content>
    </mat-card>
  </form>
</div>
