<mat-sidenav-container style="height: 100%;">
  <!-- <mat-sidenav [opened]="sidenavIsOpened" [mode]="(sidenavIsPinned) ? 'side' : 'over'" #sidenav
    class="sidenav mat-elevation-z6">
    <app-drawer></app-drawer>
  </mat-sidenav> -->
  <mat-sidenav-content id="main" perfectScrollbar [disabled]="fixedHeader" (psScrollY)="onPsScrollY($event)">
    <!-- <app-header (drawerOpen)="sidenav.toggle()"></app-header> -->
    <!-- <app-breadcrumb></app-breadcrumb> -->
    <app-sfw-header></app-sfw-header>
    <mat-toolbar id="horizontal-menu" color="primary" *ngIf="menu == 'horizontal'"
      class="horizontal-menu flex-p-x transition-2" [class.fixed-top]="!fixedHeader">
      <div fxLayout="row" fxLayoutAlign="center center" class="w-100">
        <app-navigation-bar [menuParentId]="0"></app-navigation-bar>
      </div>
    </mat-toolbar>

    <div id="main-content" class="inner-sidenav-content transition-2" perfectScrollbar [disabled]="!fixedHeader" (psScrollY)="onPsScrollY($event)">
      <router-outlet></router-outlet>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="options-icon" (click)="options.toggle()">
      <mat-icon>settings</mat-icon>
    </div>

    <!-- <div #backToTop fxLayout="row" fxLayoutAlign="center center" class="back-to-top" (click)="scrollToTop()">
      <mat-icon>arrow_upward</mat-icon>
    </div> -->

  </mat-sidenav-content>

  <mat-sidenav #options position="end" class="options">
    <div fxLayout="row" fxLayoutAlign="center center" class="control mat-elevation-z1">
      <h2>Settings</h2>
    </div>
    <!-- <app-settings-sidebar></app-settings-sidebar> -->
    <div perfectScrollbar>
      <div fxLayout="column" class="control">
        <h4>Layout</h4>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span>Fixed header</span>
          <mat-slide-toggle [checked]="fixedHeader" (change)="fixedHeader = !fixedHeader" labelPosition="before">
          </mat-slide-toggle>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span>RTL</span>
          <mat-slide-toggle [checked]="rtl" (change)="rtl = !rtl" labelPosition="before"></mat-slide-toggle>
        </div>
      </div>

      <div fxLayout="column" class="control">
        <h4>Choose menu</h4>
        <mat-radio-group [(ngModel)]="menuOption" (change)="chooseMenu()">
          <mat-radio-button *ngFor="let menu of menus" [value]="menu">{{menu}}</mat-radio-button>
        </mat-radio-group>
      </div>

      <div fxLayout="column" class="control">
        <h4>Choose menu type</h4>
        <mat-radio-group [(ngModel)]="menuTypeOption" (change)="chooseMenuType()">
          <mat-radio-button *ngFor="let menuType of menuTypes" [value]="menuType">{{menuType}}</mat-radio-button>
        </mat-radio-group>
      </div>

      <div fxLayout="column" class="control">
        <h4>Choose theme skin</h4>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <div class="skin-primary indigo-light" (click)="changeTheme('indigo-light')">
            <div class="skin-secondary"></div>
          </div>
          <div class="skin-primary teal-light" (click)="changeTheme('teal-light')">
            <div class="skin-secondary"></div>
          </div>
          <div class="skin-primary red-light" (click)="changeTheme('red-light')">
            <div class="skin-secondary"></div>
          </div>
          <div class="skin-primary blue-dark" (click)="changeTheme('blue-dark')">
            <div class="skin-secondary"></div>
          </div>
          <div class="skin-primary green-dark" (click)="changeTheme('green-dark')">
            <div class="skin-secondary"></div>
          </div>
          <div class="skin-primary pink-dark" (click)="changeTheme('pink-dark')">
            <div class="skin-secondary"></div>
          </div>
        </div>
      </div>

      <div fxLayout="column" class="control">
        <h4>Sidenav options</h4>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span>Opened sidenav</span>
          <mat-slide-toggle [checked]="sidenavIsOpened" (change)="sidenavIsOpened = !sidenavIsOpened"
            labelPosition="before"></mat-slide-toggle>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span>Pinned sidenav</span>
          <mat-slide-toggle [checked]="sidenavIsPinned" (change)="sidenavIsPinned = !sidenavIsPinned"
            labelPosition="before"></mat-slide-toggle>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span>Sidenav user info</span>
          <mat-slide-toggle [checked]="sidenavUserBlock" (change)="sidenavUserBlock = !sidenavUserBlock"
            labelPosition="before"></mat-slide-toggle>
        </div>
      </div>

    </div>

  </mat-sidenav>

</mat-sidenav-container>
