<h1 mat-dialog-title><span *ngIf="!user">Add</span><span *ngIf="user">Edit</span> user</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="user-form">
    <div fxLayout="column" class="form-field-outer">
      <mat-form-field class="w-100">
        <mat-placeholder>
          <mat-icon>person</mat-icon> Full Name
        </mat-placeholder>
        <input #fullname matInput formControlName="fullName" required>
        <mat-error *ngIf="form.controls.fullName.errors?.required">Full Name is required</mat-error>
        <mat-error *ngIf="form.controls.fullName.hasError('minlength')">Full Name isn't long enough, minimum of 5
          characters</mat-error>
      </mat-form-field>
      <!-- <mat-form-field class="w-100">
        <mat-placeholder>
          <mat-icon>person</mat-icon> Username
        </mat-placeholder>
        <input matInput  formControlName="name" disabled>
        <mat-error *ngIf="form.controls.name.errors?.required">Username is required</mat-error>
        <mat-error *ngIf="form.controls.name.hasError('minlength')">Username isn't long enough, minimum of 5
          characters</mat-error>
      </mat-form-field> -->
      <mat-form-field class="w-100">
        <mat-placeholder>
          <mat-icon>person</mat-icon> Email
        </mat-placeholder>
        <input #primaryemail matInput formControlName="email" required>
        <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
        <mat-error *ngIf="form.controls.email.errors?.email">Enter a valid Email</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-placeholder>
          <mat-icon>person</mat-icon> Employee Code
        </mat-placeholder>
        <input minlength=5 matInput formControlName="code" required>
        <mat-error *ngIf="form.controls.code.errors?.required">UserCode is required</mat-error>
        <mat-error *ngIf="form.controls.code.hasError('minlength')">UserCode isn't long enough, minimum of 5
          characters</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-placeholder>
          <mat-icon>vpn_key</mat-icon> Password
        </mat-placeholder>
        <input minLength=6 matInput formControlName="password" required [type]="passwordHide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
        <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Roles</mat-label>
        <mat-select #role [formControl]="roleCtrl" (selectionChange)="selctedRole($event)" required>
          <mat-option *ngFor="let role of roles" [value]="role._id">{{role.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column" class="form-field-outer">
      <mat-checkbox [checked]="newuserIsActive" formControlName="isActive">Active</mat-checkbox>
      <!-- <mat-checkbox formControlName="isDeleted">Blocked</mat-checkbox> -->
      <!-- <p *ngIf="user.id"><span>Registration date:</span>
        <i>{{user.settings.registrationDate | date:"dd MMMM, yyyy 'at' HH:mm" }}</i></p>
      <p *ngIf="user.id"><span>Last joined date:</span>
        <i>{{user.settings.joinedDate | date:"dd MMMM, yyyy 'at' HH:mm" }}</i> </p> -->
      <mat-form-field class="w-100">
        <input matInput [matDatepicker]="joinedDate" placeholder="Joined Date (DD/MM/YYYY)"
          formControlName="joinedDate" required>
        <mat-datepicker-toggle matSuffix [for]="joinedDate"></mat-datepicker-toggle>
        <mat-datepicker #joinedDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Home Route</mat-label>
        <mat-select [formControl]="homeRouteCtrl" required>
          <mat-option *ngFor="let route of routes" [value]="route.link" [matTooltip]="route.link">{{route.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <mat-form-field class="w-100">
        <input matInput placeholder="Home Route" [formControl]="homeRouteCtrl" required>
      </mat-form-field> -->
    </div>
  </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid"><span
      *ngIf="!user">Save</span><span *ngIf="user">Update</span></button>
  <button mat-raised-button color="warn" (click)="close()">Cancel</button>
</div>
