<div *ngIf="isLoaded" style="width: 100%;" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10">
  <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
      height="800" width="2100" inkscape:version="1.0beta2 (2b71d25, 2019-12-03)" sodipodi:docname="TV-Screen-Sketch_SVG-v1.svg" id="svg332" xml:space="preserve"  viewBox="0 0 2100 800" height="100%" y="0px" x="0px"
      version="1.1">
  <g transform="matrix(1.7347259,0,0,1.9825493,-777.06935,-667.49591)" id="g550">
    <g id="Green_Flow">
      <g *ngIf="data.bottleStucks" id="POLYLINE">
        <polyline fill="none" stroke="#129100" stroke-width="3" stroke-miterlimit="10" points="625.3,574.9 625.3,556.4 595.3,556.3"
        [ngStyle]="{'stroke': screenConfigs.statusColors[data.bottleStucks['stuck02']?.status]?.background }"
        />
      </g>
      <g *ngIf="data.bottleStucks" id="POLYLINE_1_">
        <polyline fill="none" stroke="#129100" stroke-width="3" stroke-miterlimit="10" points="595.3,627.7 625.3,627.7 625.3,604.8"
        [ngStyle]="{'stroke': screenConfigs.statusColors[data.bottleStucks['stuck02']?.status]?.background }"
        />
      </g>
      <g *ngIf="data.bottleStucks" id="POLYLINE_2_">
        <polyline fill="none" stroke="#129100" stroke-width="3" stroke-miterlimit="10" points="611.5,426.4 477.8,426.4 477.8,557.6"
        [ngStyle]="{'stroke': screenConfigs.statusColors[data.bottleStucks['stuck01']?.status]?.background }"
        />
      </g>
      <g id="POLYLINE_3_">
        <polyline fill="none" stroke="#129100" stroke-width="3" stroke-miterlimit="10"
          points="762.5,360.7 762.5,426.3 626.5,426.4       " id="polyline11" [ngStyle]="{'stroke': screenConfigs.statusColors[data.bottleFlows['flow02']?.status]?.background }" />
      </g>
      <g id="LINE">

        <line fill="none" stroke="#129100" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10"
          x1="665.29999" y1="357.39999" x2="760.40002" y2="357.39999" id="line14" [ngStyle]="{'stroke': screenConfigs.statusColors[data.bottleFlows['flow01']?.status]?.background }"/>
      </g>
    </g>
    <g id="Paths">
      <g id="LINE_2_">
        <polyline fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          points="625.1,423.2     758.9,423.1 758.9,360.7   " id="polyline18" />
      </g>
      <g id="LINE_3_">

        <line fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          x1="663.90002" y1="360.70001" x2="759.40002" y2="360.70001" id="line21" />
      </g>
      <g id="POLYLINE_20_">
        <polyline fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          points="613,423.2     474.8,423.2 474.8,557.6   " id="polyline24" />
      </g>
      <g id="POLYLINE_21_">
        <polyline fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          points="474.8,593.9     474.8,619.6 509.1,619.6   " id="polyline27" />
      </g>
      <g id="POLYLINE_22_">
        <polyline fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          points="523.3,619.6     622.2,619.6 622.2,604.6   " id="polyline30" />
      </g>
      <g id="POLYLINE_23_">
        <polyline fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          points="622.2,574.7     622.2,559.4 539.2,559.4 539.2,518.9 585.2,518.9   " id="polyline33" />
      </g>
      <g id="POLYLINE_25_">

        <line fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          x1="659.59998" y1="518.90002" x2="718.20001" y2="518.90002" id="line36" />
      </g>
      <g id="POLYLINE_26_">
        <polyline fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          points="733.4,518.9     742.7,518.9 742.7,506.6   " id="polyline39" />
      </g>
      <g id="POLYLINE_27_">
        <polyline fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          points="742.7,495.7     742.7,454.4 784.4,454.4 784.4,518.6 805.4,518.6   " id="polyline42" />
      </g>
      <g id="POLYLINE_28_">

        <line fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          x1="851.79999" y1="518.59998" x2="883.70001" y2="518.59998" id="line45" />
      </g>
      <g id="POLYLINE_29_">
        <polyline fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          points="932.2,518.6     947.5,518.6 947.5,468   " id="polyline48" />
      </g>
      <g id="POLYLINE_30_">
        <polyline fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          points="947.5,454.4     947.5,419.4 977.5,419.4 977.5,518.6 1002.8,518.6   " id="polyline51" />
      </g>
      <g id="POLYLINE_31_">

        <line fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          x1="1037.1" y1="518.59998" x2="1078.9" y2="518.59998" id="line54" />
      </g>
      <g id="POLYLINE_33_">

        <line fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          x1="1194.6" y1="518.59998" x2="1234" y2="518.59998" id="line57" />
      </g>
      <g id="POLYLINE_34_">
        <polyline fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          points="1275.4,508.3     1234,508.3 1234,528.8 1275.4,528.8   " id="polyline60" />
      </g>
      <g id="POLYLINE_36_">
        <polyline fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          points="1351.8,533.6     1368.4,533.6 1368.4,485.8 1393.7,485.8   " id="polyline63" />
      </g>
      <g id="POLYLINE_39_">
        <polyline fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          points="1505.1,485.8     1542.1,485.8 1542.1,503.4   " id="polyline66" />
      </g>
      <g id="LINE_4_">

        <line fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          x1="1479.5" y1="690.59998" x2="1522.4" y2="690.59998" id="line69" />
      </g>
      <g id="LINE_5_">

        <line fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          x1="1479.5" y1="623.79999" x2="1522.4" y2="623.79999" id="line72" />
      </g>
      <g id="LINE_6_">

        <line fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          x1="1479.5" y1="591.59998" x2="1522.4" y2="591.59998" id="line75" />
      </g>
      <g id="LINE_7_">

        <line fill="none" stroke="#000000" stroke-width="1.2" stroke-linejoin="round" stroke-miterlimit="10"
          x1="1479.5" y1="560.09998" x2="1522.4" y2="560.09998" id="line78" />
      </g>
    </g>
    <g id="Fill_x5F_Triangles">
      <g id="HATCH_19_">
        <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FF0000" points="512,416 524.2,431.5 499.8,431.5 			" />
      </g>
      <g id="HATCH_20_">
        <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FF0000" points="477.8,482.7 489.9,498.1 465.6,498.1 			" />
      </g>
      <g id="HATCH_24_">
        <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FF0000" points="762.5,446.7 774.7,462.1 750.3,462.1 			" />
      </g>
      <g id="HATCH_21_">
        <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FF0000" points="608.1,609.3 620.3,624.8 595.9,624.8 			" />
      </g>
      <g id="HATCH_23_">
        <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FF0000" points="1214.3,509.6 1226.5,525.1 1202.1,525.1 			"/>
      </g>
    </g>
    <g id="Fill_x5F_Red">
      <g id="HATCH">
        <rect x="718.20001" y="515.5" fill-rule="evenodd" clip-rule="evenodd" fill="#FF0000" width="15.2"
          height="6.9000001" id="rect98" />
      </g>
    </g>
    <g id="Fill_x5F_Green">
      <g id="HATCH_1_">
        <rect x="742.70001" y="474.60001" fill-rule="evenodd" clip-rule="evenodd" fill="#6BF26B" width="7.0999999"
          height="9.6999998" id="rect102" />
      </g>
      <g id="HATCH_2_">
        <rect x="737.90002" y="495.70001" fill-rule="evenodd" clip-rule="evenodd" fill="#6BF26B" width="9.6999998"
          height="10.9" id="rect105" />
      </g>
      <g id="HATCH_3_">
        <rect x="613" y="418.79999" fill-rule="evenodd" clip-rule="evenodd" fill="#6BF26B" width="12.1"
          height="8.8000002" id="rect108" />
      </g>
      <g id="HATCH_4_">
        <rect x="611.79999" y="574.70001" fill-rule="evenodd" clip-rule="evenodd" fill="#6BF26B" width="20.799999"
          height="29.799999" id="rect111" />
      </g>
      <g id="HATCH_5_">
        <rect x="509.10001" y="616.09998" fill-rule="evenodd" clip-rule="evenodd" fill="#6BF26B" width="14.2"
          height="7" id="rect114" />
      </g>
      <g id="HATCH_12_">
        <rect x="932.20001" y="454.39999" fill-rule="evenodd" clip-rule="evenodd" fill="#6BF26B" width="23.200001"
          height="13.6" id="rect117" />
      </g>
      <g id="HATCH_13_">
        <rect x="883.70001" y="483.29999" fill-rule="evenodd" clip-rule="evenodd" fill="#6BF26B" width="48.400002"
          height="41.700001" id="rect120" />
      </g>
      <g id="HATCH_14_">
        <rect x="805.40002" y="480.60001" fill-rule="evenodd" clip-rule="evenodd" fill="#6BF26B" width="46.400002"
          height="44.299999" id="rect123" />
      </g>
      <g id="HATCH_15_">
        <rect x="1002.8" y="496.89999" fill-rule="evenodd" clip-rule="evenodd" fill="#6BF26B" width="34.299999"
          height="28.1" id="rect126" />
      </g>
      <g id="HATCH_16_">
        <rect x="585.20001" y="462.60001" fill-rule="evenodd" clip-rule="evenodd" fill="#6BF26B" width="74.400002"
          height="65.099998" id="rect129" />
      </g>
      <g id="HATCH_17_">
        <rect x="466.5" y="557.59998" fill-rule="evenodd" clip-rule="evenodd" fill="#6BF26B" width="43.900002"
          height="36.299999" id="rect132" />
      </g>
      <g id="HATCH_18_">
        <rect x="594.59998" y="346.89999" fill-rule="evenodd" clip-rule="evenodd" fill="#6BF26B" width="69.300003"
          height="46.200001" id="rect135" />
      </g>
    </g>
    <g id="Fill_x5F_Dark">
      <g id="HATCH_6_">
        <rect x="1470.2" y="474.20001" fill-rule="evenodd" clip-rule="evenodd" fill="#000000" width="35"
          height="23.200001" id="rect139" />
      </g>
      <g id="HATCH_7_">
        <rect x="1393.7" y="478.5" fill-rule="evenodd" clip-rule="evenodd" fill="#000000" width="76.400002"
          height="14.5" id="rect142" />
      </g>
      <g id="HATCH_8_">
        <rect x="1275.4" y="495.20001" fill-rule="evenodd" clip-rule="evenodd" fill="#000000" width="76.400002"
          height="47.799999" id="rect145" />
      </g>
      <g id="HATCH_9_">
        <rect x="1078.9" y="509.39999" fill-rule="evenodd" clip-rule="evenodd" fill="#000000" width="115.7"
          height="18.4" id="rect148" />
      </g>
      <g id="HATCH_10_">
        <rect x="1437.8" y="619.29999" fill-rule="evenodd" clip-rule="evenodd" fill="#000000" width="41.700001"
          height="80.900002" id="rect151" />
      </g>
      <g id="HATCH_11_">
        <rect x="1541.7" y="602" fill-rule="evenodd" clip-rule="evenodd" fill="#000000" width="28.1" height="27.5"
          id="rect154" />
      </g>
    </g>
    <g id="Boxes">
      <g id="POLYLINE_37_">
        <rect x="1393.7" y="478.5" fill="none" stroke="#000000" stroke-width="2.3" stroke-miterlimit="10"
          width="76.400002" height="14.5" id="rect158" [ngStyle]="{'fill': screenConfigs.statusColors[data.machineStatus['machine16']?.status]?.background,'stroke': screenConfigs.borderColors[data.machineStatus['machine16']?.status]?.background}" />
      </g>
      <g id="POLYLINE_4_">

        <rect x="594.59998" y="346.89999" fill="none" stroke="#000000" stroke-width="2.3" stroke-linecap="round"
          stroke-miterlimit="10" width="69.300003" height="46.200001" id="rect161" [ngStyle]="{'fill': screenConfigs.statusColors[data.machineStatus['machine01']?.status]?.background,'stroke': screenConfigs.borderColors[data.machineStatus['machine01']?.status]?.background}"/>
      </g>
      <g id="POLYLINE_5_">

        <rect x="613" y="418.79999" fill="none" stroke="#000000" stroke-width="1.3" stroke-linecap="round"
          stroke-miterlimit="10" width="12.1" height="8.8000002" id="rect164" />
      </g>
      <g id="POLYLINE_6_">

        <rect x="585.20001" y="462.60001" fill="none" stroke="#000000" stroke-width="2.3" stroke-linecap="round"
          stroke-miterlimit="10" width="74.400002" height="65.099998" id="rect167" [ngStyle]="{'fill': screenConfigs.statusColors[data.machineStatus['machine06']?.status]?.background,'stroke': screenConfigs.borderColors[data.machineStatus['machine06']?.status]?.background}" />
      </g>
      <g id="POLYLINE_7_">

        <rect x="466.5" y="557.59998" fill="none" stroke="#000000" stroke-width="2.3" stroke-linecap="round"
          stroke-miterlimit="10" width="43.900002" height="36.299999" id="rect170" [ngStyle]="{'fill': screenConfigs.statusColors[data.machineStatus['machine03']?.status]?.background,'stroke': screenConfigs.borderColors[data.machineStatus['machine03']?.status]?.background}"/>
      </g>
      <g id="POLYLINE_8_">

        <rect x="509.10001" y="616.09998" fill="none" stroke="#000000" stroke-width="2.3" stroke-linecap="round"
          stroke-miterlimit="10" width="14.2" height="7" id="rect173" [ngStyle]="{'fill': screenConfigs.statusColors[data.machineStatus['machine04']?.status]?.background,'stroke': screenConfigs.borderColors[data.machineStatus['machine04']?.status]?.background}"/>
      </g>
      <g id="POLYLINE_9_">

        <rect x="611.79999" y="574.70001" fill="none" stroke="#000000" stroke-width="2.3" stroke-linecap="round"
          stroke-miterlimit="10" width="20.799999" height="29.799999" id="rect176" [ngStyle]="{'fill': screenConfigs.statusColors[data.machineStatus['machine05']?.status]?.background,'stroke': screenConfigs.borderColors[data.machineStatus['machine05']?.status]?.background}" />
      </g>
      <g id="POLYLINE_10_">

        <rect x="737.90002" y="495.70001" fill="none" stroke="#000000" stroke-width="2.3" stroke-linecap="round"
          stroke-miterlimit="10" width="9.6999998" height="10.9" id="rect179" [ngStyle]="{'fill': screenConfigs.statusColors[data.machineStatus['machine08']?.status]?.background,'stroke': screenConfigs.borderColors[data.machineStatus['machine08']?.status]?.background}" />
      </g>
      <g id="POLYLINE_11_">

        <rect x="805.40002" y="480.60001" fill="none" stroke="#000000" stroke-width="2.3" stroke-linecap="round"
          stroke-miterlimit="10" width="46.400002" height="44.299999" id="rect182" [ngStyle]="{'fill': screenConfigs.statusColors[data.machineStatus['machine10']?.status]?.background,'stroke': screenConfigs.borderColors[data.machineStatus['machine10']?.status]?.background}" />
      </g>
      <g id="POLYLINE_12_">

        <rect x="883.70001" y="483.29999" fill="none" stroke="#000000" stroke-width="2.3" stroke-linecap="round"
          stroke-miterlimit="10" width="48.400002" height="41.700001" id="rect185" [ngStyle]="{'fill': screenConfigs.statusColors[data.machineStatus['machine11']?.status]?.background,'stroke': screenConfigs.borderColors[data.machineStatus['machine11']?.status]?.background}" />
      </g>
      <g id="POLYLINE_13_">

        <rect x="932.20001" y="454.39999" fill="none" stroke="#000000" stroke-width="2.3" stroke-linecap="round"
          stroke-miterlimit="10" width="23.200001" height="13.6" id="rect188" [ngStyle]="{'fill': screenConfigs.statusColors[data.machineStatus['machine12']?.status]?.background,'stroke': screenConfigs.borderColors[data.machineStatus['machine12']?.status]?.background}" />
      </g>
      <g id="POLYLINE_14_">

        <rect x="1002.8" y="496.89999" fill="none" stroke="#000000" stroke-width="2.3" stroke-linecap="round"
          stroke-miterlimit="10" width="34.299999" height="28.1" id="rect191" [ngStyle]="{'fill': screenConfigs.statusColors[data.machineStatus['machine13']?.status]?.background,'stroke': screenConfigs.borderColors[data.machineStatus['machine13']?.status]?.background}" />
      </g>
      <g id="POLYLINE_15_">

        <rect x="1534.2" y="503.39999" fill="none" stroke="#000000" stroke-width="1.3" stroke-linecap="round"
          stroke-miterlimit="10" width="15.9" height="85.599998" id="rect194" />
      </g>
      <g id="POLYLINE_16_">

        <rect x="1541.7" y="602" fill="none" stroke="#000000" stroke-width="2.3" stroke-linecap="round"
          stroke-miterlimit="10" width="28.1" height="27.5" id="rect197" [ngStyle]="{'fill': screenConfigs.statusColors[data.machineStatus['machine19']?.status]?.background,'stroke': screenConfigs.borderColors[data.machineStatus['machine19']?.status]?.background}" />
      </g>
      <g id="POLYLINE_17_">

        <rect x="1479.5" y="528.90002" fill="none" stroke="#000000" stroke-width="1.3" stroke-linecap="round"
          stroke-miterlimit="10" width="43" height="205.8" id="rect200" />
      </g>
      <g id="POLYLINE_18_">

        <rect x="1524.9" y="725.5" fill="none" stroke="#000000" stroke-width="2.3" stroke-linecap="round"
          stroke-miterlimit="10" width="7" height="7.1999998" id="rect203" [ngStyle]="{'fill': screenConfigs.statusColors[data.machineStatus['machine21']?.status]?.background,'stroke': screenConfigs.borderColors[data.machineStatus['machine21']?.status]?.background}" />
      </g>
      <g id="POLYLINE_19_">

        <rect x="1437.8" y="619.29999" fill="none" stroke="#000000" stroke-width="2.3" stroke-linecap="round"
          stroke-miterlimit="10" width="41.700001" height="80.900002" id="rect206" [ngStyle]="{'fill': screenConfigs.statusColors[data.machineStatus['machine20']?.status]?.background,'stroke': screenConfigs.borderColors[data.machineStatus['machine20']?.status]?.background}" />
      </g>
      <g id="POLYLINE_24_">

        <rect x="718.20001" y="515.5" fill="none" stroke="#000000" stroke-width="2.3" stroke-linecap="round"
          stroke-miterlimit="10" width="15.2" height="6.9000001" id="rect209" [ngStyle]="{'fill': screenConfigs.statusColors[data.machineStatus['machine07']?.status]?.background,'stroke': screenConfigs.borderColors[data.machineStatus['machine07']?.status]?.background}" />
      </g>
      <g id="POLYLINE_32_">

        <rect x="1078.9" y="509.39999" fill="none" stroke="#000000" stroke-width="1.3" stroke-linecap="round"
          stroke-miterlimit="10" width="115.7" height="18.4" id="rect212" />
      </g>
      <g id="POLYLINE_35_">

        <rect x="1275.4" y="495.20001" fill="none" stroke="#000000" stroke-width="2.3" stroke-linecap="round"
          stroke-miterlimit="10" width="76.400002" height="47.799999" id="rect215" [ngStyle]="{'fill': screenConfigs.statusColors[data.machineStatus['machine15']?.status]?.background,'stroke': screenConfigs.borderColors[data.machineStatus['machine15']?.status]?.background}" />
      </g>
      <g id="POLYLINE_38_">

        <rect x="1470.2" y="474.20001" fill="none" stroke="#000000" stroke-width="1.3" stroke-linecap="round"
          stroke-miterlimit="10" width="35" height="23.200001" id="rect218" />
      </g>
      <g id="POLYLINE_40_">

        <rect x="1507.9" y="485.79999" fill="none" stroke="#000000" stroke-width="1.3" stroke-linecap="round"
          stroke-miterlimit="10" width="3.3" height="3.2" id="rect221" />
      </g>
      <g id="POLYLINE_41_">

        <rect x="742.70001" y="474.60001" fill="none" stroke="#000000" stroke-width="2.3" stroke-linecap="round"
          stroke-miterlimit="10" width="7.0999999" height="9.6999998" id="rect224" [ngStyle]="{'fill': screenConfigs.statusColors[data.machineStatus['machine09']?.status]?.background,'stroke': screenConfigs.borderColors[data.machineStatus['machine09']?.status]?.background}" />
      </g>
    </g>
    <g id="Triangles">
      <g id="SPLINE">
        <path fill="none" stroke="#000000" stroke-width="0.7087" stroke-linecap="round" stroke-miterlimit="10" d="M512,416
				c4.1,5.1,8.1,10.3,12.2,15.4c-8.1,0-16.3,0-24.4,0C503.8,426.3,507.9,421.2,512,416z" [ngStyle]="{'fill': screenConfigs.statusColors[data.fallenBottles['sensor01']?.status]?.background, 'font-size': screenConfigs?.fallenBottlesTitles['sensor01']?.size ? screenConfigs?.fallenBottlesTitles['sensor01']?.size : screenConfigs?.titleSize }" />
      </g>
      <g id="SPLINE_1_">
        <path fill="none" stroke="#000000" stroke-width="0.7087" stroke-linecap="round" stroke-miterlimit="10" d="M477.8,482.7
				c4.1,5.1,8.1,10.3,12.2,15.4c-8.1,0-16.3,0-24.4,0C469.6,493,473.7,487.8,477.8,482.7z" [ngStyle]="{'fill': screenConfigs.statusColors[data.fallenBottles['sensor02']?.status]?.background, 'font-size': screenConfigs?.fallenBottlesTitles['sensor02']?.size ? screenConfigs?.fallenBottlesTitles['sensor02']?.size : screenConfigs?.titleSize }"  />
      </g>
      <g id="SPLINE_3_">
        <path fill="none" stroke="#000000" stroke-width="0.7087" stroke-linecap="round" stroke-miterlimit="10" d="M762.5,446.7
				c4.1,5.1,8.1,10.3,12.2,15.4c-8.1,0-16.3,0-24.4,0C754.4,457,758.4,451.8,762.5,446.7z" [ngStyle]="{'fill': screenConfigs.statusColors[data.fallenBottles['sensor04']?.status]?.background, 'font-size': screenConfigs?.fallenBottlesTitles['sensor04']?.size ? screenConfigs?.fallenBottlesTitles['sensor04']?.size : screenConfigs?.titleSize }"  />
      </g>
      <g id="SPLINE_2_">
        <path fill="none" stroke="#000000" stroke-width="0.7087" stroke-linecap="round" stroke-miterlimit="10" d="M608.1,609.3
				c4.1,5.1,8.1,10.3,12.2,15.4c-8.1,0-16.3,0-24.4,0C600,619.6,604,614.5,608.1,609.3z" [ngStyle]="{'fill': screenConfigs.statusColors[data.fallenBottles['sensor03']?.status]?.background, 'font-size': screenConfigs?.fallenBottlesTitles['sensor03']?.size ? screenConfigs?.fallenBottlesTitles['sensor03']?.size : screenConfigs?.titleSize }" />
      </g>
      <g id="SPLINE_5_">
        <path fill="none" stroke="#000000" stroke-width="0.7087" stroke-linecap="round" stroke-miterlimit="10" d="M1214.3,509.6
				c4.1,5.1,8.1,10.3,12.2,15.4c-8.1,0-16.3,0-24.4,0C1206.2,519.9,1210.2,514.8,1214.3,509.6z" [ngStyle]="{'fill': screenConfigs.statusColors[data.fallenBottles['sensor05']?.status]?.background, 'font-size': screenConfigs?.fallenBottlesTitles['sensor05']?.size ? screenConfigs?.fallenBottlesTitles['sensor05']?.size : screenConfigs?.titleSize }"/>
      </g>
    </g>
    <g id="Text">
      <text transform="matrix(1 0 0 1 1380.3853 657.356)">
        <tspan x="0" y="0" font-family="'CenturyGothic'" font-size="11.3972">
          STRETCH
        </tspan>
        <tspan x="0" y="13.7" font-family="'CenturyGothic'" font-size="11.3972">
          WRAPPER
        </tspan>
      </text>
      <text transform="matrix(1 0 0 1 1193.6593 487.761)">
        <tspan x="0" y="0" font-family="'CenturyGothic'" font-size="11.3972">
          FALLEN
        </tspan>
        <tspan x="0" y="13.7" font-family="'CenturyGothic'" font-size="11.3972">
          BOTTLE 5
        </tspan>
      </text>
      <text transform="matrix(1 0 0 1 587.7985 645.6451)">
        <tspan x="0" y="0" font-family="'CenturyGothic'" font-size="11.3972">
          FALLEN
        </tspan>
        <tspan x="0" y="13.7" font-family="'CenturyGothic'" font-size="11.3972">
          BOTTLE 3
        </tspan>
      </text>
      <text transform="matrix(1 0 0 1 635.7985 566.7016)" font-family="'CenturyGothic'" font-size="11.3972">
        BOTTLE STUCK 2
      </text>
      <text transform="matrix(1 0 0 1 483.8098 486.9951)">
        <tspan x="0" y="0" font-family="'CenturyGothic'" font-size="11.3972">
          FALLEN
        </tspan>
        <tspan x="0" y="13.7" font-family="'CenturyGothic'" font-size="11.3972">
          BOTTLE 2
        </tspan>
      </text>
      <text transform="matrix(1 0 0 1 484.3081 449.6518)">
        <tspan x="0" y="0" font-family="'CenturyGothic'" font-size="11.3972">
          BOTTLE
        </tspan>
        <tspan x="0" y="13.7" font-family="'CenturyGothic'" font-size="11.3972">
          STUCK 1
        </tspan>
      </text>
      <text transform="matrix(1 0 0 1 493.2507 401.4513)">
        <tspan x="0" y="0" font-family="'CenturyGothic'" font-size="11.3972">
          FALLEN
        </tspan>
        <tspan x="0" y="13.7" font-family="'CenturyGothic'" font-size="11.3972">
          BOTTLE 1
        </tspan>
      </text>
      <g id="MTEXT_5_">
        <text transform="matrix(1 0 0 1 713.4403 483.4009)" font-family="'CenturyGothic'" font-size="11.3972">
          WAD
        </text>
      </g>
      <text transform="matrix(1 0 0 1 896.5349 464.4313)" font-family="'CenturyGothic'" font-size="9.5858">
        VISION
      </text>
      <g id="MTEXT_7_">
        <text transform="matrix(1 0 0 1 1535.6553 732.7245)" font-family="'CenturyGothic'" font-size="11.3972">
          PALLET ID
        </text>
      </g>
      <g id="MTEXT_8_">
        <text transform="matrix(1 0 0 1 1573.8883 619.9168)" font-family="'CenturyGothic'" font-size="11.3972">
          PALLETISER
        </text>
      </g>
      <text transform="matrix(1 0 0 1 717.632 445.8015)" font-family="'CenturyGothic'" font-size="11.3972">
        FALLEN BOTTLE 4
      </text>
      <g id="MTEXT_10_">
        <text transform="matrix(1 0 0 1 1006.9267 508.5281)" font-family="'CenturyGothic'" font-size="7.9806" fill="#FFFFFF">
          OUTER
        </text>
        <text transform="matrix(1 0 0 1 1004.5056 517.6049)" font-family="'CenturyGothic'" font-size="7.9806" fill="#FFFFFF">
          CAPPER
        </text>
      </g>trix(1 0 0 1 1406.3179 489.8928)" font-family="'CenturyGothic'" font-size="11.3972
      <g id="MTEXT_11_">
        <text transform="matrix(1 0 0 1 1406.3179 489.8928)">
          WEIGHER
        </text>
      </g>
      <g id="MTEXT_12_">
        <text transform="matrix(1 0 0 1 1298.8708 521.9898)" font-family="'CenturyGothic'" font-size="11.3972" fill="#FFFFFF">
          TMG
        </text>
      </g>
      <g id="MTEXT_13_" >
        <text transform="matrix(1 0 0 1 616.3694 372.9035)" font-family="'CenturyGothic'" font-size="11.3972" fill="#FFFFFF">
          SIAPI
        </text>
      </g>
      <g id="MTEXT_14_">
        <text transform="matrix(1 0 0 1 671.854 353.4974)" font-family="'CenturyGothic'" font-size="11.3972">
          BOTTLE FLOW 1
        </text>
      </g>
      <g id="MTEXT_15_">
        <text transform="matrix(1 0 0 1 767.0871 379.4167)" font-family="'CenturyGothic'" font-size="11.3972">
          BOTTLE FLOW 2
        </text>
      </g>
      <g id="MTEXT_16_">
        <text transform="matrix(1 0 0 1 468.3814 577.9559)" font-family="'CenturyGothic'" font-size="8" fill="#FFFFFF">
          AND &amp; OR
        </text>
      </g>
      <g id="MTEXT_17_">
        <text transform="matrix(1 0 0 1 493.3554 612.0789)" font-family="'CenturyGothic'" font-size="11.3972">
          CODING
        </text>
      </g>
      <text transform="matrix(1 0 0 1 616.9274 588.4333)">
        <tspan x="0" y="0" font-family="'CenturyGothic'" font-size="4.9447" fill="#FFFFFF">
          LEAK
        </tspan>
        <tspan x="-2.4" y="5.9" font-family="'CenturyGothic'" font-size="4.9447" fill="#FFFFFF">
          TESTER
        </tspan>
      </text>
      <g id="MTEXT_19_">
        <text transform="matrix(1 0 0 1 600.2134 496.9509)" font-family="'CenturyGothic'" font-size="11.3972" fill="#FFFFFF">
          FILLING
        </text>
      </g>
      <g id="MTEXT_20_">
        <text transform="matrix(1 0 0 1 693.6821 537.753)" font-family="'CenturyGothic'" font-size="11.3972">
          INDUCTION
        </text>
      </g>
      <g id="MTEXT_21_">
        <text transform="matrix(1 0 0 1 806.6754 505.5913)" font-family="'CenturyGothic'" font-size="9.5858" fill="#FFFFFF">
          AVEGLUE
        </text>
      </g>
      <g id="MTEXT_22_">
        <text transform="matrix(1 0 0 1 888.1084 505.2163)" font-family="'CenturyGothic'" font-size="9.5858" fill="#FFFFFF">
          NEWTEC
        </text>
      </g>
    </g>
    </g>
</svg>
</div>
