<p>user-info works!</p>
<div [fxLayout]="(menuType != 'default') ? 'column' : 'row'"
  [fxLayoutAlign]="(menuType != 'default') ? 'center center' : 'space-around center'" class="user-info-wrapper">
  <img class="profile-pic" src="assets/images/user-vector.jpg"
    class="transition-2">
  <div class="user-info">
    <p class="name">{{user?.fullName? user.fullName: 'User' }}</p>
    <div>
      <p *ngIf="menuType == 'default'" class="position">
        {{user.roles[0].title}}<br>
        <small class="muted-text">Member since {{user.joined}}</small>
      </p>
    </div>
    <!-- <div *ngFor="let role of user.roles">
      <p *ngIf="menuType == 'default'" class="position">
        {{role.title}}<br>
        <small class="muted-text">Member since {{user.joined}}</small>
      </p>
    </div> -->
  </div>
</div>
<div *ngIf="menuType != 'mini'" fxLayout="row" fxLayoutAlign="space-around center" class="w-100 muted-text">
  <a mat-icon-button *ngFor="let option of options" [routerLink]="option.routerLink">
    <mat-icon>{{option.icon}}</mat-icon>
    <!-- <span>{{option.title}}</span> -->
  </a>
</div>
