<div fxLayout="column" class="form">
    <form [formGroup]="plantform">
        <div fxLayout="column" style="width:100%;" fxFlex="100">
            <div fxLayout="row" style="width: 100%;" fxLayoutAlign="space-around start" fxFlex="100">
                <mat-form-field class="form-field" class="invisible">
                    <input matInput autocomplete="off" placeholder="ID" formControlName="_id" class="invisible">
                </mat-form-field>

                <mat-form-field class="form-field" fxFlex="16">
                    <mat-label>Select Company </mat-label>
                    <mat-select formControlName="company_id" (selectionChange)="GetCountriesList($event.value)">
                        <mat-option *ngFor="let c of Companies;let i=index" [value]="c.companyid">
                            {{c.companyname}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-field" fxFlex="16">
                    <mat-label>Select Country </mat-label>
                    <mat-select formControlName="country_id" (selectionChange)="GetStatesList($event.value)">
                        <mat-option *ngFor="let s of Countries;let i=index" [value]="s.countryid">
                            {{s.countryname}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-field" fxFlex="16">
                    <mat-label>Select State </mat-label>
                    <mat-select formControlName="state_id" (selectionChange)="GetLocationList($event.value)">
                        <mat-option *ngFor="let s of States;let i=index" [value]="s.stateid">
                            {{s.statename}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-field" fxFlex="16">
                    <mat-label>Select Location </mat-label>
                    <mat-select formControlName="location_id">
                        <mat-option *ngFor="let l of Locations;let i=index" [value]="l.locationid">
                            {{l.locationname}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-field" fxFlex="16">
                    <input matInput autocomplete="off" trim placeholder="Enter Plant Code" formControlName="plant_code">
                </mat-form-field>
                <mat-form-field class="form-field" fxFlex="16">
                    <input matInput autocomplete="off" placeholder="Enter Plant Name" formControlName="plant_name">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="center none">
                <button mat-raised-button color="primary" [disabled]="plantform.invalid" (click)="postplantData()">
                    Submit
                </button>
            </div>
        </div>
    </form>
    <!-- <pre>{{plantform.value|json}}</pre> -->
</div>
<div *ngIf="!gotData" fxLayoutAlign="center center" style="width: 100%; height:100%; ">
    <mat-spinner diameter="30"></mat-spinner>
</div>
<div fxLayout="column" fxLayoutAlign="center none" style="margin-left: 4%;">
    <mat-form-field>
        <input autocomplete="off" class="placeholder" matInput (keyup)="applyFilter($event.target.value)"
            placeholder="Filter">
    </mat-form-field>

    <table [hidden]="!gotData" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%;">
        <ng-container *ngFor="let dc of displayedColumns?.slice(0,displayedColumns.length-1); let i=index;"
            [matColumnDef]="dc">
            <th mat-header-cell [hidden]="displayedColumnsAs[dc]?.visible" *matHeaderCellDef mat-sort-header
                style="color: white;">
                {{displayedColumnsAs[dc]?.DN}}</th>
            <td mat-cell [hidden]="displayedColumnsAs[dc]?.visible" *matCellDef="let element">
                {{element[dc]}}
            </td>
        </ng-container>

        <ng-container matColumnDef="star" stickyEnd>
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;">Edit</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="updateRow(element)">
                    <mat-icon>create</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row style="background-color:#6660be;" *matHeaderRowDef="displayedColumns">
        </tr>
        <tr mat-row *matRowDef="let row;let even = even;  columns: displayedColumns;"></tr>
    </table>
    <div>
        <mat-paginator [pageSizeOptions]="[10, 20, 40]"></mat-paginator>
    </div>
</div>