table {
    width: 100%;
    margin-top: 2%;
    table-layout: fixed;
}

.mat-header-cell {
    color: green;
    font-size: 15px;
    line-height: 2;
}

.mat-header-cell::first-letter {
    text-transform: uppercase;
}

th, td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-left: 1px solid rgba(218, 215, 215, 0.2);
}

td {
    font-size: larger;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
    padding: 0px;
}

.mat-column-startTime, .mat-column-stopTime, .mat-column-timer, .mat-column-duration {
    width: 100px;
    text-align: center;
}

.mat-column-fault {
    text-align: center;
}
